# Configuración de logging
logging:
  log_file: "app.log"
  log_level: "INFO"

# Configuración del servicio OCR (documentai o easyocr)
ocr_service: 'documentai'  # Valores posibles: 'documentai', 'easyocr'

# Configuración del modelo local
local_model:
  use: false  # Usar modelo local (true/false)
  model_name: "local_model_name"  # Nombre del modelo local a utilizar

# Configuración de API externa para extracción de información
external_api:
  use: true  # Usar API externa para extracción de información (true/false)
  service: "external_service"  # Servicio de API externa (ej. 'groq')
  model_name: "external_model_name"  # Nombre del modelo de la API externa
  api_key: "api_key_value"  # Clave de API para autenticación

# Configuración de Google Document AI (para OCR)
google_document_ai:
  project_id: "project_id_value"  # ID del proyecto de Google Cloud
  location: "location_value"  # Ubicación del procesador de Document AI
  processor_id: "processor_id_value"  # ID del procesador de Document AI
  credentials_path: "credentials.json"  # Ruta al archivo de credenciales JSON

# Configuración del bot de Telegram
telegram_bot:
  use: true  # Usar bot de Telegram para notificaciones (true/false)
  token: "telegram_bot_token"  # Token del bot de Telegram
  chat_id: "telegram_chat_id"  # ID de chat para enviar mensajes
  download_tracker_path: "download_tracker/download_tracker.txt"
  offset_path: "offset.json"
  start_date: null  # Puede ser null si no se especifica
  end_date: null